[submodule "third-party/gtest"]
	path = dep/gtest
	url = ../googletest.git
	ignore = dirty 
[submodule "third-party/cpp-peglib"]
	path = dep/cpp-peglib
	url = ../cpp-peglib.git
	ignore = dirty 
[submodule "stdlib"]
	path = stdlib
    url = ../bython-stdlib.git
    ignore = dirty
[submodule "third-party/cxxopts"]
	path = dep/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
